@charset "UTF-8";

#bibliotheque{
	 background-color: hotpink; 
}

#patate{
	background-image: url("/Bibliotheque/img/patate.jpg");
}

.livre{
	border: 2px solid green;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	
}

.livre div{
	background-color: white;
}

.patate{
	background-image: url("img/patate.jpg");
}

button{
	background-color: darkcyan;
	width: 20%;
	margin : 0 40% 0 40%;
	height: 5em;
}

a{

	text-decoration: none;
}
